[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-widget-tweaks = "~=1.4.8"
gunicorn = "~=20.1.0"
django-heroku = "*"
dj-database-url = "*"
python-dotenv = "*"
whitenoise = "*"
mysqlclient = "*"
psycopg2-binary = "*"
django-cloudinary-storage = "*"
Django = "~=3.2.5"
Pillow = "~=8.2.0"

[dev-packages]

[requires]
python_version = "3.8"
